<button #take type="submit" class="btn-primary"> TAKE BUTTON </button>
<p>{{takeCounter}}</p>
<div class="input-group">
  <button class="btn-danger">TAKEWHILE BUTTON</button>
  <input #takewhile class="myinput">
</div>
<p>{{takeWhileCounter}}</p>

<button #takeLast type="submit" class="btn-info"> TAKELAST BUTTON </button>
<p>{{takeLastCounter}}</p>

<button #takeUntil type="submit" class="btn-secondary"> TAKEUNTIL BUTTON </button>
<p>{{takeUntilCounter}}</p>
<button #stop type="submit" class="btn-secondary"> STOP </button>
