<ng-container>
  <div id="output"></div>
<!--  <button class="btn btn-primary" (click)="callMe()">HOT/COLD OBSERVABLE</button>-->
<!--  <button #buttonElement class="btn btn-primary" (click)="callMe()">HOT/COLD OBSERVABLE</button>-->
<!--  <app-map-operator></app-map-operator>-->
<!--  <app-share-operator></app-share-operator>-->
<!--  <app-switch-map></app-switch-map>-->
<!--  <app-debounce-time-operator></app-debounce-time-operator>-->
<!--  <app-take-operators></app-take-operators>-->
<!--  <app-merge-map-operator></app-merge-map-operator>-->
<!--  <app-combine-latest></app-combine-latest>-->
<!--  <app-simple-subjects></app-simple-subjects>-->
  <app-subjectandbehavioursubject></app-subjectandbehavioursubject>
</ng-container>


